jprog2-xml/src/main/resources/persons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="content">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="person_id">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:byte">
                                            <xs:attribute type="xs:string" name="state"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="first_name"/>
                            <xs:element type="xs:string" name="last_name"/>
                            <xs:element name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="street"/>
                                        <xs:element type="xs:int" name="zip_code"/>
                                        <xs:element type="xs:byte" name="house_number"/>
                                        <xs:element type="xs:string" name="city"/>
                                        <xs:element type="xs:string" name="country"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="group">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element name="roles">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="role"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>